<header class="masthead bg-warning masthead-page mb-5">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol>
<div class="hl">
  {% include hl.svg %}
</div>
<div class="carousel-inner">
    <div class="carousel-item bg-success active">
      <!-- <img class="d-block w-100" src="https://i.postimg.cc/bNQp0RDW/1.jpg" alt="First slide"> -->
      <div class="carousel-caption d-none d-md-block">
        <h5>آشنایی با سبک زندگی آیورودا</h5>
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
        </p>
        <a href="#" class="btn btn-outline-light btn-lg my-2" role="button" aria-disabled="true">مشاهده</a>
    </div>
</div>
<div class="carousel-item bg-info">
      <!-- <img class="d-block w-100" src="https://i.postimg.cc/pVzg3LWn/2.jpg" alt="Second slide"> -->
      <div class="carousel-caption d-none d-md-block">
        <h5>شرکت در دوره‌ها و رویدادها</h5>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </p>
          <a href="#" class="btn btn-outline-light btn-lg my-2" role="button" aria-disabled="true">مشاهده</a>
        </div>
</div>
<div class="carousel-item bg-warning">
      <!--<img class="d-block w-100" src="https://i.postimg.cc/0y2F6Gpp/3.jpg" alt="Third slide">-->
      <div class="carousel-caption d-none d-md-block">
        <h5>خرید محصولات</h5>
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
        </p>
        <a href="#" class="btn btn-outline-light btn-lg my-2" role="button" aria-disabled="true">مشاهده</a>
      </div>
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</header>
